$screen-sm: 320px;
$screen-sm-md: 360px;
$screen-md: 768px;
$screen-lg: 1366px;
$screen-hd: 1440px;

$color-border-section: #D9FFF5;
$color-divider: #EAEAEA;
$color-interactive-primary: #FF3E79;
$color-accent: #41F6D7;
$color-border-hover: #B8FFEC;
$color-background: #f8f8f8;
$color-background-secondary: #fff;
$color-overlay: rgba(255, 255, 255, 0.95);
$color-shadow: rgba(69,79,126,0.2);

$color-header-gradient: linear-gradient(to right, #F8F8F8, #FFFFFF);
$color-price-border: linear-gradient(to right, transparent 1%, #EAEAEA 1%, #EAEAEA 99%, transparent 99%);

$color-text-primary: #1B1C21;
$color-text-secondary: #B5B6BC;
$color-text-tertiary: #7E7E82;